# Server
PORT=3001

# MongoDB connection string
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority

# JWT secret for authentication tokens
JWT_SECRET=your_jwt_secret_key_here_min_32_characters

# Google Gemini API key for AI advisory
GEMINI_API_KEY=your_gemini_api_key_here

# News API key for market insights
NEWS_API_KEY=your_news_api_key_here

# System Email - use to send verification / notification to users
SMTP_EMAIL=your_university_or_personal_email@gmail.com

# Google App Password looks like: "abcd efgh ijkl mnop" (16 characters, no spaces)
SMTP_PASSWORD=your_generated_gmail_app_password
